<section *ngIf="currentUser">
  <form [formGroup]="userForm">
    <div class="top-container">
      <div class="img-container">
        <app-photo-upload (imageEmitter)="catchImage($event)" [imgAlreadyExists]="currentUser.photoUrl">
        </app-photo-upload>
      </div>
      <div class="top-fields-contaner">
        <div class="raw">
          <div class="field">
            <p> {{'UserPage.Login' | translate}}</p> <input type="text" formControlName="login"
              [error-control]="userForm.controls['login']" maxlength="30">
          </div>
          <div class="field">
            <p>{{'UserPage.email' | translate}} </p> <input type="text" formControlName="email"
              [error-control]="userForm.controls['email']" maxlength="40">
          </div>
        </div>
        <div class="raw">
          <div class="field">
            <p> {{'UserPage.firstName' | translate}}</p> <input type="text" formControlName="firstName"
              [error-control]="userForm.controls['lastName']" maxlength="30">
          </div>
          <div class="field">
            <p> {{'UserPage.lastName' | translate}}</p> <input type="text" formControlName="lastName"
              [error-control]="userForm.controls['firstName']" maxlength="30">

          </div>
        </div>
      </div>
    </div>
    <div class="description">
      <p> {{'UserPage.description' | translate}}</p>
      <textarea formControlName="description" #description maxlength="500">

      </textarea>
      <span class="descr-text-len">{{description.value.length}}/500</span>
    </div>

    <div class="buttons">
      <button mat-raised-button class="user-edit-cancel-button" (click)="close()"> {{'UserPage.Cancel' | translate}} </button>
      <button mat-raised-button class="user-edit-save-button" type="submit" (click)="updateUser()"> {{'UserPage.Save' | translate}} </button>
    </div>

  </form>
</section>