  .main-container {
    width: 100%;
    height: 100%;
    border: 2px solid #DAD3D3;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .buttons {
      margin-bottom: 15px;
      display: flex;

      button+button {
        margin-left: 20px;
      }
    }
  }
