section {
	.marks {
		font-size: 13px;

		.mark-container {
			display: grid;
			grid-template-columns: 97px 1fr;
			grid-template-rows: 1fr;
			align-items: center;
			gap: 5px 0;
			grid-template-areas: ". .";
		}
	}

	.description {
		margin-top: 10px;
	}
}
