<section class="main-container">
    <div class="left-img">
        <img src="assets\img\registration.jpeg" alt="registration img">
    </div>
    <form class="registration-form" (ngSubmit)="registrate()" [formGroup]="registrationForm">

        <div class="field">
            <p> {{'RegistrationPage.FirstName' | translate}}*</p> <input type="text" formControlName="firstName"
                [error-control]="registrationForm.controls['firstName']" maxlength="40">
        </div>
        <span class="descr">{{'RegistrationPage.From' | translate}} 4 {{'RegistrationPage.To' | translate}} 40
            {{'RegistrationPage.Characters' | translate}}</span>

        <div class="field">
            <p> {{'RegistrationPage.LastName' | translate}}*</p> <input type="text" formControlName="lastName"
                [error-control]="registrationForm.controls['lastName']" maxlength="40">
        </div>
        <span class="descr">{{'RegistrationPage.From' | translate}} 4 {{'RegistrationPage.To' | translate}} 40
            {{'RegistrationPage.Characters' | translate}}</span>

        <div class="field">
            <p> {{'RegistrationPage.Login' | translate}}*</p> <input type="text" formControlName="login"
                [error-control]="registrationForm.controls['login']" maxlength="40">
        </div>
        <span class="descr">{{'RegistrationPage.From' | translate}} 4 {{'RegistrationPage.To' | translate}} 40
            {{'RegistrationPage.Characters' | translate}}</span>

        <div class="field">
            <p> {{'RegistrationPage.Password' | translate}}*</p> <input type="text" formControlName="password"
                [error-control]="registrationForm.controls['password']" maxlength="40">
        </div>
        <span class="descr">{{'RegistrationPage.From' | translate}} 6 {{'RegistrationPage.To' | translate}} 30
            {{'RegistrationPage.Characters' | translate}}</span>

        <div class="field">
            <p> {{'RegistrationPage.Email' | translate}}*</p> <input type="email" formControlName="email" maxlength="40">
        </div>
        <span class="descr">{{'RegistrationPage.From' | translate}} 4 {{'RegistrationPage.To' | translate}} 40
            {{'RegistrationPage.Characters' | translate}}</span>
        <span class="error" *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].invalid"> 
            {{'RegistrationPage.MustBeEmail' | translate}}
        </span>

        <div class="button-container">
            <button mat-raised-button class="user-edit-save-button" [disabled]="registrationForm.invalid"
                type="submit">{{'RegistrationPage.Registrate' | translate}}</button>
        </div>
    </form>
</section>