<section>
	<div class="logo-container">
		<a [routerLink]="['/all-apartments']">
			<img src="assets/images/icon.png" alt="logo">
		</a>
	</div>

	<div class="middle-container">
		<a [routerLink]="['/my-apartments']" routerLinkActive="active-link">My Apartments</a>
	</div>

	<div class="right-container">
		<a class="user-container" *ngIf="user" [routerLink]="['/user/' + user.id]">{{user.fullName}}</a>
		<div class="actions-container">
			<ng-container *ngIf="!user">
				<button mat-raised-button class="landlord-registration" (click)="landlordRegistration()">I'm a
					Landlord
				</button>
				<button mat-raised-button class="default-button" (click)="openLoginPopup()">Login</button>
			</ng-container>
			<button mat-raised-button class="default-button" (click)="logOut()" *ngIf="user">Log out</button>
		</div>
	</div>

</section>
