mat-form-field {
  &.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
  }
}


.mat-form-field-infix .ng-tns-c65-4 {
  padding: unset;
  margin: unset;
  padding-bottom: 14px;
}
