@mixin configure-indents() {
	width: 1300px;
	margin: 0 auto;
}

section {
	.welcome-container {
		height: 255px;
		width: 100%;
		background: rgb(216, 216, 217);
		background: linear-gradient(107deg, rgba(216, 216, 217, 1) 0%, rgba(66, 42, 157, 1) 0%, rgba(208, 35, 119, 1) 100%);
		color: #FFFFFF;
		line-height: 36px;

		.container-with-indents {
			@include configure-indents();
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;

			.title {
				display: flex;
				justify-content: space-between;

				span {
					font-size: 32px;
					font-weight: 600;
				}

				button {
					padding: 0 15px;
					font-size: 15px;
					background-color: white;
					border: unset;
					cursor: pointer;
					border-radius: 10px;
				}
			}

			.description {
				font-size: 14px;
			}
		}
	}

	.main-container {
		@include configure-indents();
		margin-top: 69px;

		.title {
			font-size: 26px;
			font-weight: 600;
			line-height: 30px;
		}

		.apartment-types {
			margin-top: 37px;
			display: flex;

			.type {
				box-sizing: border-box;
				border: 1px solid #DDDDDD;
				border-radius: 25px;
				padding: 0 20px;
				font-weight: 400;
				width: fit-content;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;

				& + .type {
					margin-left: 15px;
				}
			}

			.active {
				border: 2px solid black;
				background-color: #F7F7F7;
			}
		}

		.apartments-container {
			margin-top: 24px;
			padding-bottom: 30px;

			.single-apartment {
				&:not(first-child) {
					margin-top: 20px;
				}
			}
		}
	}
}
