<section>
	<div class="welcome-container">
		<div class="container-with-indents">
			<div class="title">
				<span>Welcome to your profile</span>
				<button (click)="openCreateWindow()">Add new apartment</button>
			</div>
			<div class="description">Here you can create/edit/view your apartments</div>
		</div>
	</div>
	<div class="main-container">
		<div class="title">Your apartments</div>
		<div class="apartment-types">
			<div class="type active">Active({{apartments.length}})</div>
			<div class="type">Archived(0)</div>
		</div>
		<div class="apartments-container">
			<div class="single-apartment" *ngFor="let apartment of apartments">
				<app-single-apartment-card [_apartment]="apartment" (editEmitter)="openEditWindow($event)"></app-single-apartment-card>
			</div>
		</div>
	</div>
</section>
