<section>
	<div class="header-line"></div>
	<div class="header">
		<div class="title">Creating mode</div>
		<div class="buttons">
			<button (click)="save()" class="action-button">Save</button>
			<button (click)="close()" class="close-button">x</button>
		</div>
	</div>
	<div class="main-container">
		<div class="left-container">
			<app-apartment-form [apartmentForm]="apartmentForm"></app-apartment-form>
			<div class="images-container">
				<app-modify-apartment-images [apartmentForm]="apartmentForm"></app-modify-apartment-images>
			</div>

			<div class="accommodations">
				<p>Accommodations:</p>
				<app-modify-accommodations [parentForm]="apartmentForm"></app-modify-accommodations>
			</div>
		</div>
		<div class="right-container">
			<app-apartment-map [form]="apartmentForm"></app-apartment-map>
		</div>
	</div>

</section>
