<section class="main-body">
  <div class="logo" (click)="rediretcTo('lots')">
    Online Auction
  </div>
  <div class="right-section">
    <div *ngIf="!user ;else authorizedUser" class="right-section">
      <a mat-raised-button (click)="rediretcTo('login')" class="login"> {{'NavigationBar.Login' | translate}} </a>
      <a mat-raised-button (click)="rediretcTo('registration')" class="login"> {{'NavigationBar.Registration' |
        translate}} </a>
    </div>
    <div class="lang-button">
      <mat-form-field appearance="fill" class="select" [ngStyle]="{'width':'65px', 'height':'30px', 'border':'unset','line-height': '14px'}">
        <mat-select class="custom-select lang-select" (selectionChange)="changeLang($event.value)" #categorySecelt [ngStyle]="{'width':'65px', 'height':'30px', 'border':'unset','line-height': '14px'}"
          [value]="currentLang">
          <mat-option *ngFor="let lang of langs" [value]="lang.name">
            {{lang.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

</section>

<ng-template #authorizedUser>
  <button mat-raised-button class="create-new-lot" (click)="rediretcTo('create-lot')"> {{'NavigationBar.CreateNewLot' |
    translate}} </button>
  <button mat-raised-button class="create-new-lot" (click)="rediretcTo('notifications')">
    {{'NavigationBar.Notifications' | translate}} </button>
  <button mat-raised-button class="user-profile" (click)="openUserPage()"> <img [src]="user.photoUrl">
  </button>
  <button mat-raised-button class="logout" (click)="logOut()"> {{'NavigationBar.LogOut' | translate}} </button>
</ng-template>