<section class="main">
    <div class="left-section">
        <div class="img-container">
            <img src="assets\img\featured-domain-name-auction.png" alt="">
        </div>
    </div>
    <div class="right-section">
        <div class="right-container-center">
            <div class="title">{{'RegistrationPage.Authorization' | translate}}</div>

            <div class="login-form">
                <form (ngSubmit)="login()"  [formGroup]="loginForm" id="loginForm">

                    <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="login-field">
                        <mat-label>{{'RegistrationPage.Login' | translate}}</mat-label>
                        <input matInput #input type="text" formControlName="login">
                    </mat-form-field>

                    <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" class="login-field">
                        <mat-label>{{'RegistrationPage.Password' | translate}}</mat-label>
                        <input matInput #input type="password" formControlName="password">
                    </mat-form-field>
                </form>
                <button mat-button type="submit" class="login-button" [disabled]="loginForm.invalid" form="loginForm">{{'RegistrationPage.Authorize' | translate}}</button>
            </div>
        </div>
    </div>
</section>