section {
	width: 300px;

	.image-container {
		width: 300px;
		height: 300px;
		border: 1px solid #DDDDDD;
		border-radius: 20px;
	}

	.header-row {
		margin-top: 8px;
		display: flex;
		justify-content: space-between;

		.title {
			font-size: 16px;
			color: #222222;
		}

		.mark {
			display: flex;
			align-items: center;
			justify-content: center;

			mat-icon {
				filter: invert(36%) sepia(90%) saturate(2689%) hue-rotate(327deg) brightness(98%) contrast(107%);
			}

			span {
				font-size: 15px;
				line-height: 23px;
				margin-left: 3px;
			}
		}
	}

	.location-row {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 12px;
	}
}
