section {
	position: relative;

	.arrows-container {
		display: none;
		position: absolute;
		width: 100%;
		justify-content: space-between;
		top: 150px;
		z-index: 1;

		button {
			cursor: pointer;
			background-color: rgba(255, 255, 255, .5);
			border: unset;
			width: 30px;
			height: 30px;
			border-radius: 20px;
			font-size: 27px;
			color: rgba(35, 34, 34, .8);
		}
	}

	&:hover {
		.arrows-container {
			display: flex;
		}
	}
}
