@mixin colorful-button($width, $height) {
	border: unset;
	width: $width;
	height: $height;
	padding: 0 15px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
	color: white;
	background-size: 200% 200%;
	background-image: radial-gradient(circle at center center, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
}
