mat-select {

	&.select-apartment-type {
		border: 1px solid #c2bebe;
		height: 60px;
		border-radius: 15px;
		font-size: 18px;
		padding: 0 15px;
		box-sizing: border-box;

		.mat-option-text {
			display: flex;
			height: 60px;
			align-items: center;
			justify-content: space-between;

			img {
				width: 50px !important;
				height: 50px;
				object-fit: cover;
			}
		}

		.mat-select-trigger {
			height: 100%;
		}
	}
}
