section {
	.header-line {
		height: 4px;
		background: rgb(216, 216, 217);
		background: linear-gradient(107deg, rgba(216, 216, 217, 1) 0%, rgba(66, 42, 157, 1) 0%, rgba(208, 35, 119, 1) 100%);
	}
	.header {
		display: grid;
		grid-template-areas: ". title actions";
		grid-template-columns: 1fr 1fr 1fr;
		height: 50px;
		border-bottom: 1px solid #DDDDDD;
		align-items: center;

		.title {
			text-align: center;
			grid-area: title;
			font-size: 20px;
		}

		button {
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			border: 1px solid #DDDDDD;
			border-radius: 25px;
			margin-left: auto;
			cursor: pointer;
			margin-right: 30px;
			grid-area: actions;
		}
	}
}
