<section *ngIf="apartment">
	<div class="apartment-title">{{apartment.name}}</div>
	<div class="apartment-address">{{apartment.geoData.addressName}}</div>
	<div class="apartment-type">
		<span>{{apartment.apartmentType.toLowerCase().replace('_', ' ') | titlecase}}</span>
	</div>
	<div class="carousel">
		<app-apartment-info-carousel [images]="apartment.images"></app-apartment-info-carousel>
	</div>

	<div class="main-container">
		<div class="left-container">
			<div class="description" *ngIf="apartment?.description" [innerHTML]="apartmentDescriptionHtml"></div>
			<div class="accommodations" *ngIf="apartment?.accommodations.length > 0">
				<div class="single-accommodation" *ngFor="let accommodation of apartment?.accommodations">
					<div class="icon">
						<img src="assets/images/icons/{{accommodation}}.svg" alt="icon">
					</div>
					<div class="title">{{accommodation | titlecase | replace: '_' : ' '}}</div>
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="owner-block">
				<div class="owner-title">
					<div class="image">
						<img src="assets/images/user_pic-50x50.png" alt="owner-image">
					</div>
					<div class="name">{{apartment.user.fullName}}</div>
				</div>
				<div class="divider"></div>
				<div class="description" *ngIf="apartment?.user?.description" [innerHTML]="userDescriptionHtml"></div>
				<a [href]="'/user/' + apartment.user.id" class="more">Learn more...</a>
			</div>
		</div>
	</div>
	<div class="comments">
		<app-apartment-comments [apartment]="apartment"></app-apartment-comments>
	</div>
</section>
