<div class="main" *ngIf="loaded">
  <div class="header-container">
    <div class="hader-img-container">
      <img src="./assets/img/user_profile_back_header.jpg">
      <div class="img-shadow-container"></div>
    </div>

    <div class="user-name-container">
      {{userFullName}}
    </div>

    <div class="edit-buttons" *ngIf="currentUser && (user.id === currentUser.id)">
      <button mat-raised-button class="user-edit-button" (click)="startToEditMode()"> {{'UserPage.Edit' | translate}} </button>
    </div>
  </div>

  <div class="user-info-container">
    <div class="user-img">
      <img [src]="user.photoUrl">
    </div>
    <div class="main-info">
      <div class="title">
        {{'UserPage.About' | translate}}
      </div>
      <div class="about-me" [ngClass]="{'read-more': isReadMoreMode}">
        {{user.description}}
      </div>
      <div class="read-more-or-less-button">
        <span (click)="showText()"> {{'UserPage.ReadMore' | translate}} <mat-icon> {{isReadMoreMode ? 'arrow_back' :
            'arrow_forward'}}</mat-icon></span>
      </div>

      <hr>

      <div class="about-user">
        <div class="info-line">
          <div class="line-name"> {{'UserPage.Login' | translate}} </div>
          <div class="line-value"> {{user.login}} </div>
        </div>

        <div class="info-line">
          <div class="line-name"> {{'UserPage.Email' | translate}} </div>
          <div class="line-value"> {{user.email}} </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="lots-container">
      <div class="lots-list">
      </div>
    </div>
  </div>
</div>
