$borderColor: #dad3d3;

p {
  margin: unset;
}

.main {
  background-color: #ececec;
  padding-bottom: 400px;

  .header-container {
    width: 100%;
    height: 400px;
    position: relative;

    .hader-img-container {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .img-shadow-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        box-shadow: inset -11px -13px 76px -15px #000000;
      }
    }

    .user-name-container {
      position: absolute;
      bottom: 87px;
      left: 479px;
      font-size: 51px;
      color: white;
      font-family: system-ui;
      font-weight: 700;
    }

    .edit-buttons {
      position: absolute;
      right: 123px;
      bottom: 35px;
    }
  }

  .user-info-container {
    width: 300px;
    position: absolute;
    left: 150px;
    top: 149px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.69);
    background-color: #ffffff;

    .user-img {
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .main-info {
      padding: 10px;

      .title {
        font-size: 18px;
        color: #585858;
      }

      .about-me {
        margin-top: 10px;
        font-size: 14px;
        color: #a8a8a8;
        max-height: 37px;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: max-height 0.5s ease-in;
        overflow-wrap: anywhere;
      }

      .read-more {
        max-height: fit-content;
        transition: max-height 0.5s ease-in;
      }

      .read-more-or-less-button {
        margin-top: 7px;

        span {
          cursor: pointer;
          color: #ed6e8b;
          display: flex;
          align-items: center;
        }
      }

      hr {
        width: 100%;
        margin: 15px auto;
        border: unset;
        border-top: 1px solid grey;
      }

      .about-user {
        width: 100%;

        .info-line {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          font-size: 16px;
          width: 100%;

          .line-name {
            color: #a8a8a8;
            text-transform: uppercase;
          }

          .line-value {
            color: #585858;
          }
        }
      }
    }
  }

  .main-content {
    margin-left: 566px;
    margin-top: 103px;
    width: 1200px;

    .rate-container {
      width: 100%;

      height: 200px;
      background-color: white;
      box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.69);
    }

    .lots-container {
      width: 1000px;
      margin-top: 30px;
      margin-left: auto;

      .lots-list {
        margin-top: 20px;
      }

      .without-lot {
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .main {
    .main-content {
      width: 1000px;

      .lots-container {
        width: 100%;
        margin-left: unset;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .main {
    .main-content {
      width: 1000px;
      margin-left: auto;
      .lots-container {
        box-sizing: border-box;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .main {
    .main-content {
      margin-top: 235px;
      .lots-container {
       margin-left: unset;
      }
    }
  }
}
