@mixin configure-indents() {
	margin: 0 96px;
}

section {
	.filters-section {
		@include configure-indents();
		margin-top: 27px;

		.input-filters {

			input {
				height: 35px;
				width: 300px;
				font-size: 18px;
				border-radius: 10px;
				border: 1px solid #DDDDDD;
				padding: 0 10px;

				& + input {
					margin-left: 20px;
				}
			}
		}

		.accommodations-container {
			display: flex;
			gap: 10px 15px;
			flex-wrap: wrap;
			margin-top: 15px;

			.accommodation {
				padding: 5px 10px;
				background-color: #DDDDDD;
				border-radius: 18px;
				height: fit-content;
				white-space: nowrap;
				cursor: pointer;
			}

			.active {
				background-color: #e87da1;
				color: white;
			}
		}
	}

	.apartments-container {
		@include configure-indents();
		margin-top: 36px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px 15px;
		grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
	}

	.open-map-container {
		position: fixed;
		width: 150px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #3c3b3d;
		color: white;
		z-index: 1;
		top: 85%;
		left: 46%;
		border-radius: 30px;
		cursor: pointer;

		mat-icon {
			margin-left: 10px;
		}
	}
}
