@mixin configure-indents() {
	margin: 0 96px;
}
section {
	.filters-section {
		@include configure-indents();
		margin-top: 27px;
		height: 40px;
	}

	.apartments-container {
		@include configure-indents();
		margin-top: 36px;
	}
}
